@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('styles/fonts/NotoSansKR-Light.otf') format('otf'), url('styles/fonts/NotoSansKR-Light.otf') format('otf'),
    url('styles/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: normal;
  src: url('styles/fonts/NotoSansKR-Regular.otf') format('otf'),
    url('styles/fonts/NotoSansKR-Regular.otf') format('otf'),
    url('styles/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('styles/fonts/NotoSansKR-Medium.otf') format('otf'), url('styles/fonts/NotoSansKR-Medium.otf') format('otf'),
    url('styles/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bold;
  src: url('styles/fonts/NotoSansKR-Bold.otf') format('otf'), url('styles/fonts/NotoSansKR-Bold.otf') format('otf'),
    url('styles/fonts/NotoSansKR-Bold.otf') format('truetype');
}
