.alice-carousel .animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.alice-carousel {
  overflow: hidden;
  min-width: 300px;
}

.alice-carousel .animated-out {
  z-index: 1;
}

.alice-carousel__stage-item {
}
