.btn {
  padding: 6px 10px;
  color: #fff;
  opacity: 0.36;
  font-weight: 800;
  font-size: 14px;
  border-radius: 3px;
  background-color: #1d1b23;
  border: 0;
  backdrop-filter: blur(10px);
  border-radius: 6px;
  width: 60px;
  height: 31px;
  margin-left: 7px;
}
.btn.active {
  padding: 6px 10px;
  width: 60px;
  height: 31px;
  color: #fff;
  opacity: 1;
  font-weight: 800;
  font-size: 14px;
  border-radius: 3px;
  background-color: #7000ff;
  border: 0;
  box-shadow: inset 5px 4px 8px -1px rgba(0, 0, 0, 0.49);
  border-radius: 6px;
}
.optbtn {
  padding: 10px 15px;
  color: #fff;
  opacity: 0.36;
  font-size: 15px;
  border-radius: 3px;
  background-color: #1d1b23;
  border: 0;
  text-align: left;
}
.optbtn.active {
  padding: 10px 15px;
  color: #fff;
  opacity: 1;
  font-size: 15px;
  font-weight: 700;
  border-radius: 3px;
  background: linear-gradient(90.47deg, #7000ff -0.27%, rgba(112, 0, 255, 0) 130.92%);

  box-shadow: inset 5px 4px 8px -1px rgba(10, 10, 10, 0.69);
  backdrop-filter: blur(10px);
  /* border: 1.5px solid rgba(250, 250, 250, 0.5); */
}
